* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #02010a;
  font-family: "Dancing Script";
}

header {
  background-color: #5b7989;
  height: 75px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-flow: row-wrap;
  margin-top: 1px;
}

.titulo {
  color: white;
  text-align: left;
  text-shadow: 2px 1px #02010a;
  padding: 15px;
  width: 70%;
}

nav {
  width: 30%;
  text-align: center;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 20px;
}

nav a {
  color: white;
}

nav .actual {
  text-decoration: none;
}

.contenido {
  margin-left: 100px;
  margin-right: 100px;
}

.Imagen-Central {
  background-color: #82c3a6;
  height: 400px;
  text-align: center;
  padding-top: 20px;
}
.Imagen-Central img {
    width: 75%;
    height: 95%;
}

.Img-sec img {
width: 70%;
padding-top: 0.8em;
}

.Img-sec {
  background-color: #d5c75f;
  height: 280px;
  display: flex;
  flex-flow: row-wrap;
  text-align: center;
}

img+h2 a:visited {
  text-decoration: none;
  color: black;
}

.galeria {
  background-color: #d5c75f;
  height: 250px;
  display: flex;
  flex-flow: row-wrap;
  text-align: center;
  margin: 0px;
}

.galeria div{
  width: 33.33%;
}

.galeria div img {
  width: 95%;
  padding: 20px 10px 20px 8px;
}

.galeria1 {
  background-color: #d5c75f;
  height: 250px;
  display: flex;
  flex-flow: row-wrap;
  text-align: center;
  margin: 0px;
}

.galeria1 div{
  width: 33.33%;
}

.galeria1 div img {
  width: 90%;
  height: 90%;
  padding: 10px 10px 0px 8px;
}

footer {
  background-color: #C6d5c5;
  height: 200px;
  margin-bottom: 15px;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-flow: row-wrap;
}

footer div {
  width: 25%;
  margin-top: 25px;
  margin-left: 10px;
  padding-left: 20px;
}

h2, h3 {
  padding-top: 4px;
}
